# UiPath / Studio generated
.local/
.settings/
.project/
*.user
*.suo

# Logs
*.log

# Windows junk
Thumbs.db
Desktop.ini

# Packages (optional)
packages/


################################################################################
# Added by UiPath Studio
# Prevent caching and local artifacts from being committed
################################################################################
.local
################################################################################
# End of UiPath Studio common ignores
################################################################################
